{% extends 'main/base.html' %}
{% block title %}Available Internships{% endblock %}
{% block content %}
<h1>Available Internships</h1>
<div class="row">
    {% for internship in internships %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ internship.title }}</h5>
                <p class="card-text">{{ internship.description|truncatewords:20 }}</p>
                <a href="{% url 'internship_details' internship.id %}" class="btn btn-info">View Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">No internships available at the moment.</p>
    {% endfor %}
</div>
{% endblock %}
